.photo-card {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  border-radius: 8px;
  overflow: hidden;
  transition: scale 250ms linear, box-shadow 250ms linear;
}
  
.photo-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.photo-card:hover {
  scale: 1.07;
}

.img-wrap {
  height: 260px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  transition: scale 300ms linear;
}
.info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  /* justify-content: space-between; */
  width: 100%;
  padding: 4px 10px;
  font-size: 12px;
  border-bottom: 1px solid #212121;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  color: #fafafa;
  background-color: rgba(93, 93, 93, 0.618);
  /* z-index: 100; */ /* хм, интересно)) перебил портал и вылез вперед)) */
}
.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  margin: 0;
}